.screen {
  height: 100vh;
  width: 100%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.colour-palette {
  margin: 3rem;
  padding: 3rem;
}
.buttons {
  display: flex;
  gap: 2rem;
}
