@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  font-family: "Spline Sans Mono", monospace;
} /* You can add global styles to this file, and also import other style files */
